<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <style type="text/css">
        .err {
            color: darkred;
        }
        .success {
            color: darkgreen;
        }
    </style>
</head>
<body>
<span th:class="success" style="color: green; font-weight: 900;" th:text="${successMsg}"></span>

<form action="#" th:object="${user}" th:action="@{/user/add-user}" th:method="POST">
    <table>

        <tr>
            <td>Roles:</td>
            <td>
                <select th:field="*{roles}" multiple>
                    <option th:each="rol : ${roleList}" th:value="${rol.id}">
                        <span th:text="${rol.roleName}"></span>
                    </option>
                </select>
            </td>

        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>

        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" th:field="*{email}"/></td>

        </tr>
        <tr>
            <td>Username:</td>
            <td><input type="text" th:field="*{userName}"/></td>

        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" th:field="*{paswword}"/></td>
        </tr>
        <tr>
            <td>Status: </td>
            <td>
                <input type="text"  th:field="*{status}" />
            </td>

        </tr>
        <tr>
            <td>
                <input type="submit" value="Save"/>
            </td>
        </tr>
    </table>
</form>
<a th:href="@{'/'}">Home</a>
</body>
</html>