<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form</title>
    <style type="text/css">
        .err{
            color: red;
        }
        .succes{
            color:green;
        }
    </style>
</head>
<body>
<span th:class="succes" th:text="${successMsg}"></span>
<form  th:action="@{/add-user}" th:object="${user}" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Roles:</td>
            <td>
                <select th:field="*{roles}" multiple>

                    <option th:each="role : ${roleList}" th:value="${role.id}"><span th:text="${role.roleName}"></span></option>
                </select>
            </td>
            <td th:class="err" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}" /></td>
            <td th:class="err" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>Mobile:</td>
            <td><input type="text" th:field="*{mobile}" /></td>
            <td th:class="err" th:if="${#fields.hasErrors('mobile')}" th:errors="*{age}">Mobile Error</td>
        </tr>
        <tr>
            <td><input type="submit">Submit</input></td>
        </tr>
    </table>
</form>

<a th:href="@{/}">Home</a>
</body>
</html>