<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <style type="text/css">
        .err {
            color: darkred;
        }
        .success {
            color: darkgreen;
        }
    </style>
</head>
<body>
<span th:class="success" style="color: green; font-weight: 900;" th:text="${successMsg}"></span>

<form action="#" th:object="${role}" th:action="@{/role/add-role}" th:method="POST">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{roleName}"/></td>
            <!--<td th:class="err" th:if="${#fields.hasErrors('roleName')}" th:errors="*{roleName}">Name Error</td>-->
            <span th:class="err" th:text="${existMsg}"></span>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Save"/>
            </td>
        </tr>
    </table>
</form>
<a th:href="@{'/role/role-list'}">RoleList</a>
</body>
</html>