<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <style type="text/css">
        table {
            width: 100%;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<table class="table table-striped">
    <tr>
        <th>Role ID</th>
        <th>Role Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="u : ${roleList}">
        <td th:text="${u.id}"></td>
        <td th:text="${u.roleName}"></td>
        <td><a th:href="@{'/role/edit-role/' + ${u.id}}">Edit</a></td>
        <td><a th:href="@{'/role/del-role/' + ${u.id}}">Delete</a></td>
    </tr>
</table>
</body>
</html>