<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Log in Page </title>
</head>


<body>
<h1>Log in here</h1>
    <div th:if="${param.error}">
       <div>
           Invalid username and password.
       </div>
    </div>
    <div th:if="${param.logout}">
        <div>
            You have been logged out.
        </div>
    </div>
    <form th:action="@{/login}" method="post">
        <div>
            <label> User Name : </label>
            <input type="text" name="username"/>
        </div>
        <div>
            <label> Password: </label>
            <input type="password" name="password"/>
        </div>
        <div>
            <input type="submit" value="Sign In"/>
        </div>
    </form>
</body>
</html>